/* =====================================Reset CSS============================ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------------------------
                               Custom Style
------------------------------------------------------------------------- */

body {
    background-color: rgb(250, 250, 243);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.header {
    font-weight: 700;
}

p {
    font-size: 1.1em;
    line-height: 1.3;
    margin: 7px 0px;
}

b {
    font-weight: bold;
}


nav {
    box-sizing: border-box;
    text-align: center;  
    background-color: #ffffff;
    padding: 10px;
    position: fixed;
    top: 0vh;
    width: 100%;
}

.content {
    margin: 7vh auto;
    padding-top: 40px;
    max-width: 1100px;
}

.identity {
    text-align: center;
    margin: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navtab {
    text-decoration: none;
    margin: 5px;
    color: teal;
}

.idboxes {
    margin: 20px 60px;
}

.profile-pic {
    border: solid 8px #ffffff;
    border-radius: 10px;
    box-shadow:  0px 0px 15px #919090;
}

.contact {
    text-align: center;
    margin-top: 10px;
}

.icons {
    text-decoration: none;
    margin: 5px;
    font-size: 1.5em;
}

.far {
    color: #df0f0f;
}

.fa-github {
    color: #212529;
}

.fa-linkedin {
    color: #0a66c2
}

.headings {
    text-align: center;
    margin: 10px 0px 20px 0px;
    color: #248995;
    font-family: "Merriweather", "Garamond", "Georgia", serif;
}

.welcome {
    font-family: cursive;
    font-size: 2.5em;
    padding: 2px;
    margin: 45px;
}

.box {
    display: flex;
    margin: 10px;
    margin-bottom: 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.paraboxes {
    border-radius: 8px;
    background-color:rgb(255, 217, 204);
    width: 100%;
    margin-bottom: 20px;
}

.subheading {
    margin: 0px;
    padding: 5px;
    font-weight: 600;
    background-color:antiquewhite;
}

.innerbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-style {
    display: inline-block;
    background-color: #ffffff;
    border: solid 1px #ffffff;
    padding: 4px;
    border-radius: 5px;
    margin: 4px;
}

.paragraph {
    margin: 10px;
    text-align: justify;
}

#projects {
    margin: 10px 10px;
    margin-top: 0px;
}

.projectbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgcontainer {
    display: block;
    box-shadow:  0px 0px 15px #919090;
    margin: 26px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.projectimg {
    width: 300px;
    height: 240px;
}

.projecttitle {
    text-align: center;
    color: #543737;
    margin: 10px;
}
