/* =====================================Reset CSS============================ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------------------------
                               Custom Style
------------------------------------------------------------------------- */

body {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; */
    font-size: 16px;
}

.profile {
    min-width: 300px;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    margin: auto;
}

.box {
    width: inherit;
    margin: auto;
    padding: 10px;
}

.header {
    position: sticky;
    top: 0px;
}

.navigate {
    text-align: center;
    padding: 15px 0px;
    background-color: #ffffff;
}

.navtab {
    color: #0c7185;
    text-decoration: none;
    padding: 4px;
    font-weight: 500;
}

hr {
    margin: 0px;
    opacity: 0.2;
}

.identity {
    background: #0c7185;
    background: linear-gradient(180deg, #0c7185 0%, #3496a8 100%);
    color: #ffffff;
    text-align: center;
    margin: 0px 5px;
}

.identity .box {
    padding: 7vh 0vh;
}

.name {
    font-size: 2.5rem;
    padding: 1.5rem 0rem;
    font-weight: bold;
}

.role {
    font-size: 1.5rem;
}

.welcome {
    font-size: 1.3rem;
    padding: 50px 0px;
}

.resume {
    background-color: #fdfdfd;
    padding: 5px;
    border: 1px solid #dbd7d7;
    border-radius: 5px;
    text-decoration: none;
    color: #bb2e2e;
    font-weight: bold;
}

img {
    box-sizing: border-box;
    width: 210px;
    height: 210px;
}

.profile-pic {
    border: 5px solid #ffffff;
    border-radius: 105px;
}

.headings {
    font-size: 2rem;
    padding: 20px 0px;
}

b {
    font-weight: bold;
}

.paragraph {
    font-size: 1.2rem;
    line-height: 30px;
    text-align: justify;
}

.subpara {
    margin: 20px 0px;
}

strong {
    font-weight: bold;
}

.skill-style {
    font-size: 1.2rem;
    display: inline-block;
    border:solid 1px  #0c7185;
    border-radius: 7px;
    padding: 5px;
    margin: 5px 0px;
    background-color: #4dacbd;
}

.projectbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgcontainer {
    display: block;
    margin: 10px 20px;
}

.project-desc, .projectimg {
    text-align: center;
    margin: 5px 0px;
    border-radius: 10px;
}

.projecttitle {
    font-size: 1rem;
    text-align: center;
    margin: 5px 0px;
    font-weight: bold;
}

.footer-design {
    background: #187a8d;
    background: linear-gradient(180deg, #187a8d 0%, #3496a8 100%);
    margin: 0px;
    padding: 20px;
}

.contact {
    margin: 10px;
    text-align: center;
}

.icons {
    text-decoration: none;
    margin: 10px;
    font-size: 1.5em;
}

.far {
    color: #ffffff;
}

.fa-github {
    color: #fbfbfc;
}

.fa-linkedin {
    color: #fdfdfd;
}

.connectme {
    text-align: center;
    margin: 20px;
    color: #ffffff;
}

@media screen and (min-width: 900px) {
    .box {
        width: 800px;
    }
}

@media screen and (max-width: 500px) {
    .name ,.headings{
        font-size: 1.5em;
        padding:  2vw 0vh;
    }
    
    .role {
        font-size: 1.1em;
    }
    
    .welcome, p {
        font-size: 1em;
        padding: 5vw 0px;
    }

    .subpara {
        margin: 10px 0px;
    }
}
