/* =====================================Reset CSS============================ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------------------------
                               Custom Style
------------------------------------------------------------------------- */

body {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; */
    font-size: 16px;
    background-color: #1b4557;
    /* background: linear-gradient(180deg, #1b4557 0%, #0e778a 100%); */
    color: #dbd7d7;
}
main {
    margin-top: 20px;
}

.profile {
    min-width: 300px;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    margin: auto;
}

.box {
    width: inherit;
    margin: auto;
    padding: 10px;
    padding: 10px 4vw;
}

.header {
    position: sticky;
    top: 0px;
}

.navigate {
    text-align: center;
    padding: 15px 0px;
    background-color: #1b4557;
}

.navtab {
    color: #fcdea5;
    text-decoration: none;
    padding: 4px;
    font-weight: 500;
}

hr {
    margin: 0px;
    opacity: 0;
}

.identity {
    /* background: #0c7185; */
    /* background: linear-gradient(180deg, #0c7185 0%, #3496a8 100%); */
    color: #dbd7d7;
    text-align: start;
    margin: 0px 0px;
}

/* .identity .box {
    padding: 5vh 5vw 2vh 5vw;
} */

.expparent {
    background-color: black;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 10px 15px 0px #000000;
    border-radius: 10px;
    margin: 25px 0px;
    padding: 10px;
}
.expchild {
    padding: 20px 0px 0px 0px;
}

.expchild .timeline {
    min-width: 115px;
    white-space: nowrap;
    padding: 0px 20px 0px 0px;
    color: #cbf3fe;
}

.roletitle{
    color: #cbf3fe;
    padding: 0px 0px 5px 0px;
}

.rolelocation{
    color: #fcdea5;
    padding: 0px 0px 15px 0px;
}

.roledesc{
    color: floralwhite;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}

.roledesc a {
    color: #a8f1ff;
    text-decoration: underline;
}

.headerdiv {
    display: block;
}

#headerimage {
    text-align: center;
}

#headercontent{
    display: inline-block;
    padding-bottom: 30px;
    text-align: start;
}

.name {
    font-size: 2.5rem;
    padding: 1rem 0rem;
    font-weight: bold;
    color: #f8a304;
    font-weight: bold;
}

.role {
    font-size: 1.2rem;
}

.welcome {
    font-size: 1rem;
    padding-top: 30px;
    line-height: normal;
    color: #fcdea5;
}

.resume {
    background-color: #dbd7d7;;
    padding: 7px;
    border-radius: 30px;
    /* text-decoration: none; */
    color: #805504;
    font-weight: bold;
    font-size: 0.9em;
    text-align: end;
}

img {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
}

.profile-pic {
    border: 5px solid #ffffff;
    border-radius: 105px;
}

.headings {
    font-size: 1.5rem;
    padding: 10px 0px;
    color: #fcdea5;
}

b {
    font-weight: bold;
}

.paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}

.subpara {
    margin-top: 0px;
}

strong {
    font-weight: bold;
}

.skill-style {
    font-size: 1rem;
    display: inline-block;
    border:solid 1px  #4e8691;
    border-radius: 7px;
    padding: 5px;
    margin: 5px 0px;
    background-color: #163c43;
    color: #dbd7d7;
    text-align: justify;
}

.projectbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgcontainer {
    display: block;
    margin: 10px 20px;
}

.project-desc, .projectimg {
    text-align: center;
    margin: 5px 0px;
    border-radius: 10px;
}

.projecttitle {
    font-size: 1rem;
    text-align: center;
    margin: 5px 0px;
    font-weight: bold;
    color: #fdfdfd;
}

.projectlink {
    text-decoration:none;
}

.footer-design {
    /* background: #187a8d;
    background: linear-gradient(180deg, #187a8d 0%, #3496a8 100%); */
    margin: 0px;
    padding: 20px;
}

.contact {
    text-align: center;
}

.contact .icons {
    margin: 10px;
}

.contact-top {
    float: right;
    margin: 0px;
    text-align: start;
    padding-top: 1rem;
}

.icons {
    display: block;
    text-decoration: none;
    margin: 10px 20px 10px 0px;
    font-size: 1.5em;
}

.far {
    color: #ffffff;
}

.fa-github {
    color: #fbfbfc;
}

.fa-linkedin {
    color: #fdfdfd;
}

.connectme {
    text-align: center;
    margin: 20px;
    color: #ffffff;
}

@media screen and (min-width: 900px) {
    .box {
        width: 800px;
    }
}

@media screen and (max-width: 600px) {
    .expparent {
        display: flex;
        flex-direction: column;
    }

    #headercontent {
        padding-bottom: 0px;
    }

    .contact-top {
        display: none;
        float: none;
        padding-top: 0px;
    }

    .icons {
        display: inline;
        font-size: 1rem;
    }

    .name {
        font-size: 1.5em;
        padding:  0px;
    }

    .headings {
        font-size: 1rem;
    }
    
    .role {
        font-size: 1rem;
    }

    .rolelocation, .roletitle {
        font-size: 0.8rem;
    }

    .roledesc {
        font-size: 0.8rem;
    }
    .subpara {
        margin: 0px 0px;
        padding: 0px;
    }
    
    .welcome, p {
        font-size: 0.8rem;
        padding: 10px 0px;
    }

    .skill-style {
        font-size: 0.8rem;
    }
}